{% extends'base.html.twig' %}

{% block title %}
{{ parent() }} - Nouveau produit
{% endblock %}

{% block body %}

<h1>TROP DE PUISSANCE !</h1>


<img src="http://paperlief.com/images/the-expendables-2-cast-wallpaper-2.jpg" width="700px" class="mb-4">

<h1>TROP DE REPLICATIONS !</h1>

<img src="https://media3.giphy.com/media/IZY2SE2JmPgFG/giphy.gif" width="700px">


<h1>'... Bip ...' Ajouter un nouveau produit</h1>
<p>Ajouter un nouveau produit dans le catalogue, humain ...</p>

    {{ form(form) }}

{% endblock %}










